<!DOCTYPE html>
<html>
<head>
  <title>Jstest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jstest" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-yield="main"> </div>
<%= render template: "batman/users/index" %>
<%= render template: "batman/users/edit" %>
<%= render template: "batman/users/new" %>
<%= render template: "batman/users/show" %>
<%= render "batman/users/form" %>

<script type="text/javascript">
  Jstest.run();
</script>

</body>
</html>
